<html>
  <head>
    <title>Not Found</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="bg-dark d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center">
            <h1 class="text-white">Route Anda Salah</h1>
            <a href="/" class="h6" style="text-decoration: none;">Back to home</a>
        </div>
    </div>
  </body>
</html>